.u-section-1 .u-sheet-1 {
  min-height: 992px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 942px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-1 .u-image-1 {
  width: 205px;
  height: 205px;
  background-image: url("images/IMG_20190417_165857440.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 158px auto 0 41px;
}

.u-section-1 .u-shape-1 {
  width: 102px;
  height: 102px;
  margin: -153px 89px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 278px;
  height: 278px;
  background-image: none;
  margin: 0 auto 0 69px;
}

.u-section-1 .u-image-2 {
  width: 273px;
  height: 272px;
  background-image: url("images/IMG_20181002_112156.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -226px 76px 0 165px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 747px;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px 167px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px 0 -1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 873px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 273px;
    margin-right: 31px;
    margin-left: 120px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 158px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 992px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 661px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -44px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 524px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 493px;
  height: 493px;
  background-image: url("images/logo.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 524px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 0 89px 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin: 15px 30px 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 457px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-3 .u-text-3 {
  width: 450px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-3 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 9px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-3 .u-icon-1 {
    padding: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 630px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 612px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-4 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 125px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 612px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0 14px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px -22px 0 20px;
}

.u-section-4 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 14px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-4 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-4 .u-icon-1 {
    padding: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-text-3 {
    width: 313px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 240px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 318px;
}

.u-section-5 .u-sheet-1 {
  min-height: 569px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 24px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-5 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-5 .u-text-3 {
  width: 450px;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-5 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 9px auto 0;
}

.u-section-5 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-5 .u-icon-1 {
    padding: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 360px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 579px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-6 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 125px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0 14px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px -22px 0 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-6 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 15px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-6 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-6 .u-icon-1 {
    padding: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-6 .u-text-3 {
    width: 313px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-6 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: 240px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }
} .u-section-7 {
  min-height: 318px;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 498px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 24px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-7 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 23px;
}

.u-section-7 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 9px auto 0;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-7 .u-icon-1 {
    padding: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-3 {
    width: 450px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: 360px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 318px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 526px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-8 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 27px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 496px;
}

.u-section-8 .u-container-layout-2 {
  padding: 24px 0 25px;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-8 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-8 .u-icon-1 {
    padding: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-8 .u-text-3 {
    width: 313px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-8 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 318px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-9 .u-text-1 {
  width: 898px;
  font-size: 3rem;
  margin: 175px auto 0;
}

.u-section-9 .u-list-1 {
  width: 1112px;
  margin: 106px auto 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 254px;
  grid-gap: 30px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-9 .u-image-1 {
  width: 171px;
  height: 171px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-9 .u-text-3 {
  margin: 39px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-9 .u-image-2 {
  width: 171px;
  height: 171px;
  background-image: url("images/SHAILENDRA.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 39px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-9 .u-image-3 {
  width: 171px;
  height: 171px;
  background-image: url("images/2.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-9 .u-text-7 {
  margin: 39px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 494px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 960px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1006px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 60px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 652px;
}

.u-section-10 .u-accordion-1 {
  width: 1140px;
  margin: 45px auto 60px -7px;
}

.u-section-10 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-10 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-1 {
  min-height: 464px;
  height: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1092px;
  margin: 0 20px 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-10 .u-image-1 {
  width: 218px;
  height: 276px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-10 .u-text-1 {
  margin: 56px auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-10 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-10 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-10 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-2 {
  min-height: 464px;
  height: auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  font-weight: normal;
  margin: 0;
}

.u-section-10 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-10 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-10 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-3 {
  min-height: 464px;
  height: auto;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

.u-section-10 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-10 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-10 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-10 .u-accordion-pane-4 {
  min-height: 464px;
  height: auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px;
}

.u-section-10 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-accordion-1 {
    margin-top: 599px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-10 .u-image-1 {
    width: 189px;
    height: 240px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-accordion-1 {
    margin-top: 649px;
    width: 720px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-10 .u-image-1 {
    width: 134px;
    height: 170px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-accordion-1 {
    margin-top: 724px;
    width: 540px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-accordion-1 {
    margin-top: 949px;
    width: 340px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
  }
}