.u-section-1 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 75px 112px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 672px;
  height: 672px;
  background-image: linear-gradient(#e68387, #72efe9);
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 497px;
  height: 815px;
  object-position: 50% 0%;
  margin: -610px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 458px;
    height: 702px;
    margin-top: -472px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 269px;
    height: 450px;
    margin-top: -310px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 562px;
}

.u-section-2 .u-icon-1 {
  width: 107px;
  height: 107px;
  background-image: none;
  margin: 60px auto 0;
  padding: 23px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 692px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-custom-html-1 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}