 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-text-1 {
  width: 890px;
  font-size: 4.5rem;
  transition-duration: 0.5s;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  width: 890px;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 22px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 700px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-image-1 {
  height: 630px;
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.2);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  width: 416px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 700px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-slider-1 {
  min-height: 630px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-image-2 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-image-3 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-image-4 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-image-5 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-image-6 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 549px;
  }

  .u-section-1 .u-image-2 {
    height: 251px;
  }

  .u-section-1 .u-image-3 {
    height: 251px;
  }

  .u-section-1 .u-image-4 {
    height: 251px;
  }

  .u-section-1 .u-image-5 {
    height: 251px;
  }

  .u-section-1 .u-image-6 {
    height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1414px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 164px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 739px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-right: 85px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 260px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 260px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 260px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 260px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 260px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 642px;
    margin-top: 20px;
    margin-bottom: -41px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-image-2 {
    height: 360px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-image-3 {
    height: 360px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-1 .u-image-4 {
    height: 360px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-1 .u-image-5 {
    height: 360px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-1 .u-image-6 {
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 60px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    height: 515px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 575px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 260px;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 260px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 260px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 260px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 260px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 61px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto;
}.u-section-3 .u-sheet-1 {
  min-height: 645px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 28px;
}

.u-section-3 .u-image-1 {
  width: 505px;
  height: 505px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 553px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
  height: auto;
  min-height: 500px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 84px;
  height: 96px;
  margin: -67px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 92.98% 50%;
    min-height: 514px;
  }

  .u-section-3 .u-image-1 {
    width: 414px;
    height: 414px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 304px;
    height: 304px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1706px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 681px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 70px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-image-1 {
  width: 356px;
  height: 200px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 356px;
  height: 200px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  width: 356px;
  height: 200px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 180px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 180px;
  }
}

.u-section-4 .u-text-4,
.u-section-4 .u-text-4:before,
.u-section-4 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-6,
.u-section-4 .u-text-6:before,
.u-section-4 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-6.u-text-6.u-text-6:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-text-6.u-text-6.u-text-6.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 417px;
}

.u-section-5 .u-text-1 {
  width: 552px;
  margin: 0 auto;
}

.u-section-5 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 21px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 19.5px));
  min-height: 266px;
  grid-gap: 26px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-icon-1 {
  width: 92px;
  height: 92px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-icon-2 {
  width: 92px;
  height: 92px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-icon-3 {
  width: 92px;
  height: 92px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-icon-4 {
  width: 92px;
  height: 92px;
  transition-duration: 0.5s;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 17px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 219px;
  }

  .u-section-5 .u-icon-1 {
    padding: 16px;
  }

  .u-section-5 .u-icon-2 {
    padding: 16px;
  }

  .u-section-5 .u-icon-3 {
    padding: 16px;
  }

  .u-section-5 .u-icon-4 {
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 671px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-5 .u-icon-4,
.u-section-5 .u-icon-4:before,
.u-section-5 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 526px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-6 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 43px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 496px;
}

.u-section-6 .u-container-layout-2 {
  padding: 24px 0 25px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-6 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-6 .u-icon-1 {
    padding: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-6 .u-text-3 {
    width: 313px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-6 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  min-height: 318px;
}

.u-section-7 .u-sheet-1 {
  min-height: 579px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-7 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 68px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 0 14px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px -22px 0 20px;
}

.u-section-7 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 15px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-7 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-7 .u-icon-1 {
    padding: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-7 .u-text-3 {
    width: 313px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-7 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: 240px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 318px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-8 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 100px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 610px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0 25px;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 24px auto 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px -22px 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-8 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-8 .u-image-1 {
    width: 313px;
    height: 313px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-8 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 866px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 318px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }
}